#flexArea{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inputItem label{
    font-weight: bold;
}

.inputItem{
    margin-top:1em;
    margin-bottom:1em;
}

#login_button{
    padding:1em;
    width:100%;
    border-radius: 0.56em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color: #003f87;
    border:0;
}

#login_button:hover{
    background-color: #004faa;
}
.inputItem input{
    padding:0.5em;
    border-radius:0.25em;
}